In [ ]:
add=lambda x,y:x+y
print(add(5,3))

8

In [ ]:
sub=lambda x,y:x-y
print(sub(5,3))

2

In [ ]:
mul=lambda x,y:x*y
print(mul(5,3))

15

In [ ]:
square=lambda x:x**2
print(square(4))

16

In [ ]:
cube=lambda x:x**3
print(cube(9))

729

In [ ]:
number=[4,6,7,8,9]
even_numbers=list(filter(lambda x:x%2==0,number))
print(even_numbers)

[4, 6, 8]

In [ ]:
number=[10,15,20,25,30]
odd_numbers=list(filter(lambda x:x%2!=0,number))
print(odd_numbers)

[15, 25]

In [ ]:
number=[,7,8,9]
double_number=list(map(lambda x:x*3,number))
print(double_number)

SyntaxError: invalid syntax (ipython-input-22-2285426165.py, line 1)

In [ ]:
student=[
    {"name":"alice","age":20},
    {"name":"bob","age":22},
    {"name":"charlie","age":19}]
sorted_student=sorted(student,key=lambda x:x["age"])
print(sorted_student)

In [ ]:
def make_multiplier(n):
  return lambda x:x*n
  double=make_multiplier(2)
  triple=make_multiplier(3)
  print(double(5))
  print(triple(5))

In [ ]:
check_even=lambda x:"even" if x%2==0 else "odd"
print(check_even(168))
print(check_even(154))

In [ ]:
numbers=[1,2,3,4]
product=(lambda x,y:x*y,numbers)
print(product)

In [ ]:
names=["john","doe","alece"]
capitalized=list(map(lambda x:x.capitalize(),names))
print(capitalized)

In [ ]:
email=["alice@example.com","bob@test.com"]
domains=list(map(lambda x:x.split("@")[1],email))
print(domains)

In [ ]:
number=[2,4,6,8]
all_even=all(map(lambda x:x%2==0,number))
print(all_even)

In [ ]:
words=["apple","banana","cherry"]
sorted_words=sorted(words,key=lambda word:len(word))
print(sorted_words)

In [ ]:
operations={
    'add':lambda x,y:x+y,
    'sub':lambda x,y:x-y,
    'mul':lambda x,y:x*y,
    'div':lambda x,y:x/y if y!=0 else "error"
}
print(operations['add'](10,5))
print(operations['div'](10,0))

In [ ]:
numbers=list(range(1,21))
filtered=list(filter(lambda x:x%2==0 and x%3==0,numbers))
print(filtered)

In [ ]:
check_even_odd=lambda num:"even" if num%2==0 else "odd"
print(check_even_odd(4))
print(check_even_odd(7))

In [ ]:
s1='geeksforgeeks'
s2=lambda func:func.upper()
print (s2(s1))

In [ ]:
n=[1,2,3,4,5,6]
even=filter(lambda x:x%2==0,n)
print(list(even))

In [ ]:
import pandas as pd
ds1=pd.Series([2,4,8,10])
ds2=pd.Series([1,3,7,9])
print('multiply two Series:')
ds=ds1*ds2
print(ds)
print('divide Series1 by Series2:')
ds=ds1/ds2
print(ds)

In [ ]:
import pandas as pd
d1={'d':100,'b':200,'a':300,'c':400}
new_Series=pd.Series(d1)
print(new_Series)

d    100
b    200
a    300
c    400
dtype: int64

In [ ]:
import pandas as pd
ds1=pd.Series([2,4,8,10])
ds2=pd.Series([1,3,5,7,9])
print("multiply two Series2:")
ds=ds1*ds2
print(ds)
print("divide Series1 by Series2:")
ds=ds1/ds2
print(ds)

multiply two Series2:
0     2.0
1    12.0
2    40.0
3    70.0
4     NaN
dtype: float64
divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.600000
3    1.428571
4         NaN
dtype: float64

In [ ]:
import pandas as pd
s=pd.Series([400,300.12,100,200])
print("original Series:")
print(s)
new_s=pd.Series(s).sort_values()
print(new_s)

original Series:
0    400.00
1    300.12
2    100.00
3    200.00
dtype: float64
2    100.00
3    200.00
1    300.12
0    400.00
dtype: float64

In [ ]:
import pandas as pd
s=pd.Series(data=[1,2,3,4,5],index=['A','B','C','D','E'])
print("original Series:")
print(s)

original Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
s1=pd.Series([1,2,3])
s2=pd.Series([2,3,6])
print("original Series1:")
print(s1)
print("original Series2:")
print(s2)

original Series1:
0    1
1    2
2    3
dtype: int64
original Series2:
0    2
1    3
2    6
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
sr1=pd.Series([1,2,3])
sr2=pd.Series([2,3,6])
print("original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("items of given series not present in other given Series")
sr11=pd.Series(np.union1d(sr1,sr2))
sr22=pd.Series(np.intersect1d(sr1,sr2))
result=sr11[~sr11.isin(sr22)]
print(result)

original Series:
sr1:
0    1
1    2
2    3
dtype: int64
sr2:
0    2
1    3
2    6
dtype: int64
items of given series not present in other given Series
0    1
3    6
dtype: int64

In [ ]:
import pandas as pd
import numpy as n
exam_data={'NAME':['manish','dhiraj'],'SCORE':[12.5,9]}
labels=['NAME','SCORE']
df=pd.DataFrame(exam_data,index=labels)
print(df)

         NAME  SCORE
NAME   manish   12.5
SCORE  dhiraj    9.0

In [ ]:
import pandas as pd
import numpy as np
exam_data={'NAME':['manish','dhiraj','man','dhi'],'SCORE':[12.5,91,2.5,9]}
df=pd.DataFrame(exam_data)
print("first three rows of the datafreame:")
print(df.iloc[:3])
print(df.head(3))

first three rows of the datafreame:
     NAME  SCORE
0  manish   12.5
1  dhiraj   91.0
2     man    2.5
     NAME  SCORE
0  manish   12.5
1  dhiraj   91.0
2     man    2.5

In [ ]:
import pandas as pd
import numpy as np
exam_data={'NAME':['manish','dhiraj','man','dhi'],'SCORE':[12.5,91,2.5,9]}
df=pd.DataFrame(exam_data)
total_rows,total_cols=df.shape
print("number of rows:",total_rows)
print("number of columns:",total_cols)

number of rows: 4
number of columns: 2

In [ ]:
import pandas as pd
import numpy as np
s1=pd.Series(['100','200','400'])
s2=pd.Series(['10','20','40'])
print("data series:")
print(s1)
print(s2)
df=pd.concat([s1,s2,],axis=1)
print("new dataframe coming two series:")
print(df)

data series:
0    100
1    200
2    400
dtype: object
0    10
1    20
2    40
dtype: object
new dataframe coming two series:
     0   1
0  100  10
1  200  20
2  400  40

In [ ]:
import pandas as pd
import numpy as np
s1=pd.Series(['100','200','400'])
s2=pd.Series(['10','20','40'])
print("data series:")
print(s1)
print(s2)
df=pd.concat([s1,s2],axis=1)
print("value of row4")
print(df.i/0[2]

SyntaxError: incomplete input (ipython-input-33-2763954356.py, line 10)

In [ ]:
import pandas as pd
import numpy as np
s1=pd.Series(['100','200','400'])
s2=pd.Series(['10','20','40'])
df=pd.concat([s1,s2],axis=1)
new_col=[1,2,3]
idx=0
df.insert(loc=idx,column='col1',value=new_col)
print("\ New Dataframe:")
print(df)

\ New Dataframe:
   col1    0   1
0     1  100  10
1     2  200  20
2     3  400  40

In [ ]:
import pandas as pd
data={
    'name':['rupa','sita','geeta'],
    'age':[25,30,35],
    'city':['bagalot','solapur','gulbarga']}
df=pd.DataFrame(data)
print("original data")
print(df)

original data
    name  age      city
0   rupa   25   bagalot
1   sita   30   solapur
2  geeta   35  gulbarga

In [ ]:
import pandas as pd
data={
    'name':['rupa','sita','geeta'],
    'age':[25,30,35],
    'city':['bagalot','solapur','gulbarga']}
df=pd.DataFrame(data)
print("original data")
print(df)
df_sorted=df.sort_values(by='age',ascending=False)
print("sort by age:")
print(df_sorted)

original data
    name  age      city
0   rupa   25   bagalot
1   sita   30   solapur
2  geeta   35  gulbarga
sort by age:
    name  age      city
2  geeta   35  gulbarga
1   sita   30   solapur
0   rupa   25   bagalot

In [ ]:
import pandas as pd
data={
    'name':['rupa','sita','geeta'],
    'age':[25,30,35],
    'city':['bagalot','solapur','gulbarga']}
df=pd.DataFrame(data)
print("original data")
print(df)
df['salary']=[50000,60000,70000]
print("added salary column:")
print(df)

original data
    name  age      city
0   rupa   25   bagalot
1   sita   30   solapur
2  geeta   35  gulbarga
added salary column:
    name  age      city  salary
0   rupa   25   bagalot   50000
1   sita   30   solapur   60000
2  geeta   35  gulbarga   70000

In [ ]:
import pandas as pd
data={
    'name':['rupa','sita','geeta'],
    'age':[25,30,35],
    'city':['bagalot','solapur','gulbarga']}
df=pd.DataFrame(data)
print("original data")
print(df)
df['salary']=[50000,60000,70000]
print("added salary column:")
print(df)
age=df[df['age']>30]
print("age greater than 30:")
print(age)
df.loc[df['name']=='sita','city',]='bagalkot'
print("chnaged sita city to bagalkot")
print(df)
df_no_city=df.drop(columns=['city'])
print("drop city column:")
print(df_no_city)
avg_age=df['age'].mean()
print("average age:")
print(avg_age)
bagakot=df[df['city']=="bagalkot"]
print("person from bagalkot:")
print(bagakot)

original data
    name  age      city
0   rupa   25   bagalot
1   sita   30   solapur
2  geeta   35  gulbarga
added salary column:
    name  age      city  salary
0   rupa   25   bagalot   50000
1   sita   30   solapur   60000
2  geeta   35  gulbarga   70000
age greater than 30:
    name  age      city  salary
2  geeta   35  gulbarga   70000
chnaged sita city to bagalkot
    name  age      city  salary
0   rupa   25   bagalot   50000
1   sita   30  bagalkot   60000
2  geeta   35  gulbarga   70000
drop city column:
    name  age  salary
0   rupa   25   50000
1   sita   30   60000
2  geeta   35   70000
average age:
30.0
person from bagalkot:
   name  age      city  salary
1  sita   30  bagalkot   60000

In [ ]:
import numpy as np
a=np.array([1,2,3,4,5])
b=np.array([10,20,30,40,50])
sum_array=a+b
diff_array=a-b
product_array=a*b
mean_a=np.mean(a)
min_b=np.min(b)
max_a=np.max(a)
print("array a:",a)
print("array b:",b)
print("sum:",sum_array)
print("difference:",diff_array)
print("product:",product_array)
print("mean of a:",mean_a)
print("min of b:",min_b)
print("max of a:",max_a)

array a: [1 2 3 4 5]
array b: [10 20 30 40 50]
sum: [11 22 33 44 55]
difference: [ -9 -18 -27 -36 -45]
product: [ 10  40  90 160 250]
mean of a: 3.0
min of b: 10
max of a: 5

In [ ]:
import numpy as np
arr=np.array([[1,2,3],[4,5,6]])
print("element at(0,1):",arr[0,1])
print("second row:",arr[1])
print(arr)

element at(0,1): 2
second row: [4 5 6]
[[1 2 3]
 [4 5 6]]

In [ ]:
 a=np.array([5,10,15])
 b=np.array([1,2,3])
 result=a+b
 print("sum:",result)

sum: [ 6 12 18]

In [ ]:
import numpy as np
rand_array=np.random.randint(1,100,size=10)
print("random array:",rand_array)
print("maximum:",np.max (rand_array))
print("minimum:",np.min(rand_array))

random array: [42 47 42 84 38 23 96 46 60 84]
maximum: 96
minimum: 23

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6])
reshaped = arr.reshape(2, 3)
print("Reshaped (2x3):\n", reshaped)
flattened = reshaped.flatten()
print("Flattened:", flattened)

Reshaped (2x3):
 [[1 2 3]
 [4 5 6]]
Flattened: [1 2 3 4 5 6]

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6])
reshaped = arr.reshape(2, 3)
print("Reshaped (2x3):\n", reshaped)

Reshaped (2x3):
 [[1 2 3]
 [4 5 6]]

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6])
reshaped = arr.reshape(2, 3)
print("Reshaped (2x3):\n", reshaped)
flattened = reshaped.flatten()
print("Flattened:", flattened)

Reshaped (2x3):
 [[1 2 3]
 [4 5 6]]
Flattened: [1 2 3 4 5 6]

In [ ]:
import numpy as np
arr =np.array([1,2,3,4])
print(arr.sum())

10

In [ ]:
import numpy as np
arr = np.array([1,2,3,4])
print(arr.min())

1

In [ ]:
import numpy as np
arr = np.array([1,2,3,4])
print(arr.max())

4

In [ ]:
import numpy as np
arr = np.array([1,2,3,4])
print(arr.mean())

2.5

In [ ]:
import numpy as np
import random
array=np.random.randint(16,size=(4,4))
print("input array:n",array)
print("largest number in x axis:",np.max(array,axis=1))
print("lagest number in y axis:",np.max(array,axis=0))

input array:n [[ 4  3  3 10]
 [ 9  3  9 13]
 [ 3 14  9  2]
 [ 5 11  6  7]]
largest number in x axis: [10 13 14 11]
lagest number in y axis: [ 9 14  9 13]

In [ ]:
import numpy as np
import random
array=np.random.randint(16,size=(4,4))
print("input array:n",array)
print("smallest number in x axis:",np.min(array,axis=1))
print("smallest number in y axis:",np.min(array,axis=0))

input array:n [[13 12 13  8]
 [ 5  9 14  1]
 [ 2 13  6  5]
 [12  8  2  7]]
smallest number in x axis: [8 1 2 2]
smallest number in y axis: [2 8 2 1]

In [ ]:
import numpy as np
arr=np.array([1,2,3,4])
print(arr.std())

1.118033988749895

In [ ]:
import numpy as np
arr=np.array([1,2,3])
print(arr+2)

[3 4 5]

In [ ]:
import numpy as np
arr=np.array([1,2,3])
print(np.sin(arr))

[0.84147098 0.90929743 0.14112001]

In [ ]:
import numpy as np
arr=np.array([1,2,3])
arr2=np.array([1,2,3])
print(arr+arr2)

[2 4 6]

In [ ]:
import numpy as np
squared=list(map(lambda x:x**2,arr))
print("sqaured using map:",squared)
def square (number):
  return number*number
  squared=list(map(square,arr))
  print("squared using map:",squared)

sqaured using map: [np.int64(1), np.int64(4), np.int64(9)]

In [ ]:
def is_even(n):
  if n%2==0:
    return True
  else:
    return False
num=[1,2,3,4]
even=list(filter(is_even,num))
print(even)

[2, 4]

In [ ]:
even=list(filter(lambda x:x%2==0,num))
print("even numbers:",even)

even numbers: [2, 4]

In [ ]:
 from functool import reduce
def sum_all(a,b):
  return a+b
nums = [1,2,3,4]
sum = reduce(sum_all,nums)
print(sum)

ModuleNotFoundError: No module named 'functool'

In [ ]:
from functools import reduce
def sum_all(a,b):
  return a+b
nums = [1,2,3,4]
sum = reduce(sum_all,nums)
print(sum)

10

In [ ]:
from functools import reduce
arr=[1,2,3,4]
total = reduce(lambda x, y: x + y,arr)
print("Sum using reduce:", total)

Sum using reduce: 10

In [ ]:
import pandas as pd
data=pd.Series([10,20,30,40],index=['a','b','c','d'])
print(data)
data={
    'name':['alice','bob','charlie'],
    'age':[25,30,35],
    'city':['delhi','mumbai','bangalore']
}
df=pd.DataFrame(data)
print(df)

a    10
b    20
c    30
d    40
dtype: int64
      name  age       city
0    alice   25      delhi
1      bob   30     mumbai
2  charlie   35  bangalore

In [ ]:
import pandas as pd
data={
    'name':['alice','bob'],
    'age':[25,24],
}
print(df['name'])
print(df.loc[0])
print(df.iloc[1])
filtered = df[df['age'] > 25]
print(filtered)

0      alice
1        bob
2    charlie
Name: name, dtype: object
name    alice
age        25
city    delhi
Name: 0, dtype: object
name       bob
age         30
city    mumbai
Name: 1, dtype: object
      name  age       city
1      bob   30     mumbai
2  charlie   35  bangalore

In [ ]:
import pandas as pd
data={
    'name':['alice','bob'],
    'age':[25,24],
}
print(df['name'])
print(df.loc[0])
print(df.iloc[1])
filtered = df[df['age'] > 25]
print(filtered)
df['Salary'] = [50000, 60000, 70000]

0      alice
1        bob
2    charlie
Name: name, dtype: object
name    alice
age        25
city    delhi
Name: 0, dtype: object
name       bob
age         30
city    mumbai
Name: 1, dtype: object
      name  age       city
1      bob   30     mumbai
2  charlie   35  bangalore

In [ ]:
import pandas as pd
lst = ['Apple', 'Mango', 'Banana', 'Pine Apple', 'Grapes', 'Watermelon']
df = pd.DataFrame(lst)
print(df)

            0
0       Apple
1       Mango
2      Banana
3  Pine Apple
4      Grapes
5  Watermelon

In [ ]:
import pandas as pd
data ={
    'Name':['Tom','nick','krish','jack'],
    'Age':[20,21,19,18]
       }
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [ ]:
import pandas as pd
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Salary': [50000, 55000, 60000, 65000, 70000, 72000],
    'Age': [25, 30, 28, 32, 40, 38],

}
df = pd.DataFrame(data)
print(df)

  Department Employee  Salary  Age
0         HR    Alice   50000   25
1         HR      Bob   55000   30
2         IT  Charlie   60000   28
3         IT    David   65000   32
4    Finance      Eva   70000   40
5    Finance    Frank   72000   38

In [ ]:
import pandas as pd
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Salary': [50000, 55000, 60000, 65000, 70000, 72000],
    'Age': [25, 30, 28, 32, 40, 38]
}
df = pd.DataFrame(data)
print(df)

  Department Employee  Salary  Age
0         HR    Alice   50000   25
1         HR      Bob   55000   30
2         IT  Charlie   60000   28
3         IT    David   65000   32
4    Finance      Eva   70000   40
5    Finance    Frank   72000   38

In [ ]:
import pandas as pd
data={
    'name':['']
}

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()
df = pd.read_csv('anjii.csv')
df.to_csv('output.csv', index=False)
df.head()
df.tail()
df.info()
df.describe()

Saving anjii.csv to anjii (2).csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes

        a
count   4
unique  3
top     j
freq    2

In [ ]:
import pandas as pd
df = pd.read_csv('anjii.csv')
df.to_csv('output.csv', index=False)
df.head()
df.tail()
df.info()
df.describe()